/* For toolbars with left-aligned text */
.toolbar-title-left {
	text-align: left;
	padding-left: 10px;
}

/* For bright-blue backgrounds */
.bright-blue {
	background: #00c9ff;
}

/* For bright-green backgrounds */
.bright-green {
	background: #00ff49;
}

/* For white text */
.white-text {
	color: #fff;
}

/* For smaller text */
.small-text {
	font-size: small;
}

/* For text links */
.link-text {
	color: #3f94ff;
	font-weight: bold;
}

/* Activity feed */
.kudo-item {
	line-height: 1.5em;
	min-height: 60px;
	padding: 10px 15px;
}

.kudo-item.odd {
	background: #e9f5ff;
}

.kudo-item.even {
	background: #ffebeb;
}

.x-list.kudo-list .x-list-item {
	padding: 0;
}
