/* For toolbars with left-aligned text */
.toolbar-title-left {
	text-align: left;
	padding-left: 10px;
}

/* For bright-blue backgrounds */
.bright-blue {
	background: #00c9ff;
}

/* For bright-green backgrounds */
.bright-green {
	background: #00ff49;
}

/* For white text */
.white-text {
	color: #fff;
}

/* For smaller text */
.small-text {
	font-size: small;
}

/* For text links */
.link-text {
	color: #3f94ff;
	font-weight: bold;
}

/* Activity feed */
.kudo-item {
	line-height: 1.5em;
	min-height: 60px;
	padding: 10px 15px;
}

.kudo-item.odd {
	background: #e9f5ff;
}

.kudo-item.even {
	background: #ffebeb;
}

.x-list.kudo-list .x-list-item {
	padding: 0;
}

.kudo-item .snippet {
	font-style: italic;
	text-align: right;
	padding-right: 5px;
}

/* glowing suitcase background */
.glow-suitcase {
	background: url( 'images/suitcase2.png' );
}
	.big.glow-suitcase {
		width: 192px;
		height: 184px;
	}

/* Kudo Detail page */
.cat-box {
	background-color: #fbdd5f;
	background-image: url( 'images/face1.png' );
	background-repeat: no-repeat;
	background-size: 75px 30px;
	background-position: 9px 27px;
	padding: 20px 0 20px 100px;
	width: 100%;
}

/* User profile page */
.user-profile .user-name {
	font-size: 1.4em;
	font-weight: normal;
	margin-bottom: 7px;
}

.user-profile .count-spacer {
	margin-left: 20px;
}

.user-profile .feedback {
	background: #ccc;
}

.user-profile .feedback .category {
	float: left;
	font-size: .8em;
	width: 50%;
}

.user-profile .feedback .category .total {
	font-weight: bold;
	font-size: 1.2em;
	margin-right: 5px;
}

/* Send Kudo button */
.x-button.send-kudo .suitcase {
	background-image: url( 'images/suitcase1.png' );
	background-repeat: no-repeat;
	background-size: 35px 35px;
	height: 35px;
	width: 35px;
	position: absolute;
	top: 3px;
	right: 11px;
}
