h1= title
p Welcome to #{title}

div#content
  div#update
    span send a fist bump to
    input#bump_to(type="text", value="@")
    span for
    input#bump_for(type="text")
    span from
    input#bump_from(type="text", value="@")
    br
    a#bump(href="#") bump it! you know you wanna
  div#stream
    ul#reciever